<!--
 Copyright 2024 Google LLC

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

  https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
 -->

<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <!-- TODO(#331): output logging.googleapis.com/trace_sampled based on trace_flags instead
      of hardcoding as true -->
      <!-- [START opentelemetry_instrumentation_setup_logging] -->
      <!-- Format JSON logs for the Cloud Logging agent
      https://cloud.google.com/logging/docs/structured-logging#special-payload-fields -->

      <!-- Log4j2's JsonTemplateLayout includes a template for Cloud Logging's special JSON fields
      https://logging.apache.org/log4j/2.x/manual/json-template-layout.html#event-templates -->
      <JsonTemplateLayout eventTemplateUri="classpath:GcpLayout.json">
        <!-- Extend the included GcpLayout to include the trace and span IDs from Mapped
        Diagnostic Context (MDC) so that Cloud Logging can correlate Logs and Spans -->
        <EventTemplateAdditionalField
          key="logging.googleapis.com/trace"
          format="JSON"
          value='{"$resolver": "mdc", "key": "trace_id"}'
        />
        <EventTemplateAdditionalField
          key="logging.googleapis.com/spanId"
          format="JSON"
          value='{"$resolver": "mdc", "key": "span_id"}'
        />
        <EventTemplateAdditionalField
          key="logging.googleapis.com/trace_sampled"
          format="JSON"
          value="true"
        />
      </JsonTemplateLayout>
      <!-- [END opentelemetry_instrumentation_setup_logging] -->
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>
