<!-- Example for how to configure logback to export trace-correlated logs using standard logging agent. -->
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Customer filter that just appends opencensus trace information for this format. -->
        <filter class="com.google.example.CloudTraceLogAttacher" />
        <encoder>
            <!-- A pattern which dumps opencensus trace information in google logging compatible manner. -->
            <pattern>{"severity": "%-5p","message": "%logger:%L %m %ex", "sourceLocation": "%logger:%L", "request_id": "%X{request_id}", "logging.googleapis.com/trace": "%X{gcp.trace_id}", "logging.googleapis.com/spanId": "%X{gcp.span_id}", "logging.googleapis.com/trace_sampled" : "%X{gcp.trace_sampled}"}%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="stdout" />
    </root>
</configuration>